<h2>Bienvenido al Chat en Vivo</h2>

<form action="/api/messages" method="post">
    Nombre: <input type="text" name="name" id="name">
    Correo: <input type="text" name="email" id="email">
    Mensaje: <input type="text" name="message" id="message">
    <input type="submit" value="Enviar">
</form>