<h2 id="product-title">Product: Loading...</h2>

<div class="product">
    <div id="product-container"></div>
    <form id="addToCartForm">
        <input type="number" name="quantity" value="1">
        <input type="submit" value="Add to cart" id="add-to-cart-btn">
        <input type="hidden" id="product-id" value="653360e2c3e730f42eadf726">
    </form>
</div>
<a href="/products">Back to products</a>

<script src="/js/product.js"></script>

